<p id="notice"><%= notice %></p>

<h1> Electronic Products</h1>

<table>
  <%# <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Brand</th>
      <th>Source</th>
      <th>Price</th> %>
      
      <%# <th colspan="1"></th> %>
    <%# </tr>
  </thead> %>

  <tbody>
    <% @products.each do |product| %>
      <tr>
         <td><img src=<%= product.image %> alt="" heiht ="150" width = 150 /></td>
        <td><%= link_to product.name, product  %></td>
      </tr>
      <tr>
        <td><%= product.brand %></td>
        <td><a href=<%=product.source %>>link to other website</a></td>
        <td><%= number_to_currency(product.price) %></td>
        <td><input type="text" id="qty" name="qty" placeholder="Enter Quantity"></td>
        <td><button type="Button">Add to cart</button></td>
      </tr>
        <%# <td><%= link_to 'Show', product</td> %>
        <%# <td><%= link_to 'Edit', edit_product_path(product)</td> %>
        <%# <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }</td> %> 
      
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
